body
{
    background-color: blanchedalmond;
}
.header
{
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}
.header a
{
    color:black;
    text-decoration: none;
}
.header a:link
{
    color:black;
}
.header a:visited
{
    color:darkslategrey
}
.t
{
    transition: 2s;
    opacity: 0;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
}
.grid img
{
    border:2px solid black;
    border-radius: 50px;
    margin-top:20px;
}
.grid img:hover
{
    position: relative;
}
.origami
{
    width: 310px;
    font-style: italic;
    border-radius: 20px;
    text-align: center;
    margin: 30px;
    background-color:azure;
    transition: 2s;
}
.origami ul
{
    text-align: left;
}
.origami:hover
{
    transform:scale(1.2);
}
.origami:hover p
{
    opacity:1;
}