.header
{
    display: flex;
    justify-content: space-between;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
}
.grid img
{
    border:2px solid black;
    border-radius: 50px;
}
.origami
{
    width: 310px;
    font-style: italic;
    border:2px solid green;
    border-radius: 50px;
    text-align: center;
}